<div *ngIf="!potato">
  <h2 class="mat-h2">Select a potato to see its detail !</h2>
</div>

<div *ngIf="potato">
  <h2 class="mat-h2">{{ potato.name }}</h2>
  <br>
  <span class="mat-body">An awesome potato ! Try it !</span>
  <br>
  <img *ngIf="potato.image" src="assets/{{potato.image}}" class="potato-img"/>
</div>
