<div>

  <h2 class="mat-h2">Create a new awesome potato !</h2>

  <form class="flex-container" [formGroup]="potatoForm" (ngSubmit)="onSubmit()"novalidate>

    <!-- Input du nom de la patate -->
    <mat-form-field class="name-field">
      <input formControlName="name" matInput placeholder="Potato's name">
      <mat-error *ngIf="potatoForm.hasError('required', ['name'])">
        Please name your potato !
      </mat-error>
    </mat-form-field>

    <button mat-flat-button class="btn-submit" color="primary" type="submit">Create potato !</button>

  </form>

</div>
