<app-toolbar></app-toolbar>

<div class="flex-container">

  <div class="container">
    <app-create-potato style="margin-bottom: 50px;"></app-create-potato>
    <app-potato-list (potatoSelected)="handlePotatoSelected($event)"></app-potato-list>
  </div>

  <div class="container">
    <app-potato-detail [potato]="potatoSelected"></app-potato-detail>
  </div>

</div>
