<mat-list>

  <h3 class="mat-h3">Potatoes</h3>

  <mat-list-item *ngFor="let potato of potatoes | async">
    <mat-icon mat-list-icon (click)="delPotato(potato)" style="cursor: pointer;">delete</mat-icon>
    <h4 mat-line style="cursor: pointer" (click)="emitSelectedPotato(potato)">{{ potato.name }}</h4>
  </mat-list-item>

</mat-list>
